@charset "utf-8";

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

//$family-primary: "Cantarell";

// $body-background-color: $purple;
// $primary: darken($purple, 20%);
$primary: $purple;

$custom-colors: (
        announcement-tag: rgba(238, 67, 255, 0.97),
        rust-tag: brown,
        announcement: red,
);

@import "bulma/bulma.sass";

.card {
  height: 100%;
  padding-bottom: 40px;
}

.card-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.card-footer-item {
  margin: auto;
}
