@charset "utf-8";

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// $body-background-color: $purple;
// $primary: darken($purple, 20%);
$primary: $purple;
$tabs-boxed-link-active-background-color: $red;
$tabs-boxed-link-hover-background-color: $red;
$tabs-boxed-link-active-border-bottom-color: $red;

@import "bulma/bulma.sass";
