<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link defer rel="icon" type="image/png" href="avatar.png">
</head>
<body>
<section class="hero is-primary is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hiruna Jayamanne
            </h1>
            {% if current_path == "" %}
            <p class="subtitle">
                Welcome to my website!
            </p>
            {% endif %}
        </div>
    </div>
    <div class="hero-foot">
        <div class="tabs is-boxed is-centered is-fullwidth">
            <div class="container">
                <ul>
                    <li {% if current_path == "/" or current_path is starting_with("/projects") %} class="is-active" {% endif %}>
                    <a href="/projects">
                        <span class="icon is-small"><i class="fas fa-code" aria-hidden="true"></i></span>
                        <span><strong>Projects</strong></span>
                    </a></li>
                    <li {% if current_path is starting_with("/blog") %} class = "is-active" {% endif %}>
                    <a href="/blog">
                        <span class="icon is-small"><i class="fas fa-book" aria-hidden="true"></i></span>
                        <span>Blog</span>
                    </a></li>
                    <li {% if current_path is starting_with("/about") %} class=" is-active" {% endif %}>
                    <a href="/about">
                        <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span>About Me</span>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% block body %} {% endblock body %}
</body>
</html>
