{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock title %}
{% block body %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="title">{{ page.title }}</div>
            </div>
            <div class="level-right">
                <div class="subtitle">
                    <div class="tags" style="display: inline">
                        {% for tag in page.taxonomies.tags %}
                        <span class="tag is-dark is-{{tag | lower}}-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <span style="display: inline; margin-left: 10px">
                        {{ page.date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="content">{{ page.content | safe }}</div>
    </div>
</section>
{% endblock body %}
